.menu{
    font-size: 18px;
    font-weight: 500;
    color: #383838;
}
.menu li{
    padding: 0 20px;
}
.menu li a{
    color: #383838;
}
.menu li .active{
    color: #f06c4e;
}
.input_mealItem{
    height: 50px;
}
.submit_btn{
    width: 90px;
    height: 50px;
    background-color: #f06c4e;
    font-size: 18px;
    color: #ffffff !important;
}
#details{
    display: none;
}
.title{
    padding: 20px 0;
    background-color: #f8f7f5;
}
p:before{
    content: "";
    display: block;
    background: url(images/checkmark-square-2\ 3.png) no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    margin: 0 6px 0 0;
}
